body {
    margin: 0;
}

.background-img {
    background-image: url("images/donation9.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.first-section {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5% 30%;
}

.donate-button {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: coral;
    border-radius: 10px;
}


.taka {
    margin: 5%;
    text-align: center;
}

.tk {
    font-size: 20px;
    margin-bottom: 1%;
    display: inline-block;
    padding: 30px;
    background-color: rgb(199, 199, 197);
    border-radius: 10px;
}

.amount-tk {
    border: none;
}

.donate-plan {
    text-align: center;
    padding: 0% 30%;
}

.inline-block {
    text-align: justify;
    display: inline-block;
    width: 250px;
    height: 310px;
    padding: 25px 20px 0px 10px;
    margin: 0% 5%;
    border-radius: 10px;
}

.they-need-us {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
}

.flex {
    margin-top: 5%;
    display: flex;
}

.ancor {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: coral;
    border-radius: 10px;
}


.visions {
    margin-top: 5%;
    text-align: center;
}

.email-section {
    margin-left: 43%;
    display: inline-block;
    padding: 25px 25px;
    background-color: rgb(233, 198, 132);
    text-align: center;

}

.subscribe-button {
    text-decoration: none;
    color: black;
    background-color: rgb(230, 84, 58);
    padding: 4px 5px;
    border-radius: 5px;
}

.footer-section {
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
    background-color: rgb(2, 2, 8);
}